@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.scroll-left {
  animation: scroll-left 20s linear infinite;
}

.scroll-right {
  animation: scroll-right 15s linear infinite;
  padding-top: 10px;
}
