@mixin disableTouchStates {
  @media (hover: none) and (pointer: coarse) {
    * {
      &:hover,
      &:active {
        opacity: 1;
        background-color: initial;
        color: initial;
        transform: none;
        box-shadow: none;
        filter: none;
      }
    }
  }
}

@mixin flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin column {
  display: flex;
  flex-direction: column;
}
