@mixin disable-touch-states {
  @media (hover: none) and (pointer: coarse) {
    * {
      &:hover,
      &:active {
        opacity: 1;
        background-color: initial;
        color: initial;
        transform: none;
        box-shadow: none;
        filter: none;
      }
    }
  }
}
