@use "./mixins" as mixins;

:root {
  --primary-color: #b9ff66;
  --secondary-color: #191a23;
  --third-color: #f3f3f3;
  --gap: 40px;
  --border-radius: 45px;
  --font-size: 18px;
  --space-1: 14px;
  --space-2: 20px;
  --space-3: 30px;
}
/* Fonts */

@font-face {
  font-family: "Space Grotesk";
  src: url("./../fonts/SpaceGrotesk-Bold.woff2") format("woff2");
  src: url("./../fonts/SpaceGrotesk-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("./../fonts/SpaceGrotesk-SemiBold.woff2") format("woff2");
  src: url("./../fonts/SpaceGrotesk-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("./../fonts/SpaceGrotesk-Medium.woff2") format("woff2");
  src: url("./../fonts/SpaceGrotesk-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("./../fonts/SpaceGrotesk-Regular.woff2") format("woff2");
  src: url("./../fonts/SpaceGrotesk-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("./../fonts/SpaceGrotesk-Light.woff2") format("woff2");
  src: url("./../fonts/SpaceGrotesk-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family:
    "Space Grotesk", "Segoe UI", "Helvetica Neue", Helvetica, sans-serif;
  @include mixins.disableTouchStates;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.container {
  width: 95%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 55px;
}

.primaryBtn {
  height: 68px;
  background-color: var(--secondary-color);
  color: white;
  font-size: var(--space-2);
  font-weight: 400;
  border-radius: var(--space-1);
  text-decoration: none;
  position: relative;
  top: 35px;
  border: 2px solid var(--secondary-color);
  transition: background-color 0.6s ease;
  span {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      width: 0;
      top: 25px;
      height: 1px;
      border-radius: 50%;
      transition: all 0.7s ease;
      transform: translateX(-50%);
      transform-origin: top;
      background-color: black;
    }
  }
  &:hover,
  &:focus {
    background-color: #ffff;
    border: 2px solid black;
    color: black;
    span::after {
      width: 100%;
    }
  }
  &:active {
    background-color: #c3c3c3;
    span::after {
      width: 0;
    }
  }
}

.card {
  border-radius: var(--border-radius);
  transition: all 0.6s ease;
}

.logo {
  display: flex;
  gap: 12px;
  text-decoration: none;
  align-items: center;
  font-size: var(--gap);
  font-weight: 500;
  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.navList {
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: var(--gap);
  li {
    cursor: pointer;
    font-size: var(--space-2);
    font-weight: 400;
    a {
      text-decoration: none;
    }
  }
}

.linkUnderline {
  text-decoration: none;
  position: relative;
  span {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      width: 0;
      top: 25px;
      height: 1px;
      border-radius: 50%;
      transition: all 0.3s ease;
      transform: translateX(-50%);
      transform-origin: top;
    }
  }
  &:hover,
  &:focus {
    span::after {
      width: 100%;
    }
  }
  &:active {
    span:after {
      transform: scaleX(0);
      width: 0%;
    }
  }
}

.about {
  display: flex;
  align-items: center;
  gap: 47px;
  width: 100%;
  margin-bottom: 80px;
  opacity: 0;
  .mainTitle {
    font-size: var(--gap);
    font-weight: 500;
    background-color: var(--primary-color);
    border-radius: 7px;
    padding: 7px;
  }
  .mainSubtitle {
    font-size: var(--font-size);
    font-weight: 400;
    line-height: 28px;
    width: 50%;
  }
  &.animated {
    animation: scale-up-center 0.5s ease;
    opacity: 1;
  }
}

.only__desktop {
  display: none;
}

.only__mobile {
  display: block;
  max-width: 100%;
  padding-left: 9px;
  overflow: visible;
}

.noScroll {
  height: 100vh;
  overflow: hidden;
}

@media (max-width: 1150px) {
  .about {
    .mainSubtitle {
      width: 100%;
    }
  }
}

@media (min-width: 1025px) {
  .only__mobile {
    display: none !important;
  }
  .only__desktop {
    display: flex !important;
  }
}

@media (max-width: 900px) {
  .container {
    padding: 0 var(--space-3);
  }
  .about {
    justify-content: center;
    flex-direction: column;
    gap: 35px;
    margin-bottom: var(--gap);
    .mainTitle {
      font-size: 32px;
    }
    .mainSubtitle {
      width: 100%;
      text-align: center;
    }
  }
}

@media (max-width: 560px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
}
