@use "./mixins" as mixins;
/* Fonts */

@font-face {
  font-family: "Space Grotesk";
  src: url("./../fonts/SpaceGrotesk-Bold.woff2") format("woff2");
  src: url("./../fonts/SpaceGrotesk-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("./../fonts/SpaceGrotesk-SemiBold.woff2") format("woff2");
  src: url("./../fonts/SpaceGrotesk-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("./../fonts/SpaceGrotesk-Medium.woff2") format("woff2");
  src: url("./../fonts/SpaceGrotesk-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("./../fonts/SpaceGrotesk-Regular.woff2") format("woff2");
  src: url("./../fonts/SpaceGrotesk-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("./../fonts/SpaceGrotesk-Light.woff2") format("woff2");
  src: url("./../fonts/SpaceGrotesk-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Space Grotesk", "Segoe UI", "Helvetica Neue", Helvetica,
    sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 95%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 55px;
}

.primaryBtn {
  height: 68px;
  background-color: #191a23;
  color: white;
  font-size: 20px;
  font-weight: 400;
  border-radius: 14px;
  text-decoration: none;
  position: relative;
  top: 35px;
  border: 2px solid #191a23;
  transition: background-color 0.6s ease;
  span {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      width: 0;
      top: 25px;
      height: 1px;
      border-radius: 50%;
      transition: all 0.7s ease;
      transform: translateX(-50%);
      transform-origin: top;
      background-color: black;
    }
  }
  &:hover,
  &:focus {
    background-color: #ffff;
    border: 2px solid black;
    color: black;
    span::after {
      width: 100%;
    }
  }
  &:active {
    background-color: #c3c3c3;
    span::after {
      width: 0;
    }
  }
}

@media (max-width: 560px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
}

.link-underline {
  text-decoration: none;
  position: relative;
  span {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      width: 0;
      top: 25px;
      height: 1px;
      border-radius: 50%;
      transition: all 0.3s ease;
      transform: translateX(-50%);
      transform-origin: top;
    }
  }
  &:hover,
  &:focus {
    span::after {
      width: 100%;
    }
  }
  &:active {
    span:after {
      transform: scaleX(0);
      width: 0%;
    }
  }
}
