.callToAction {
  padding: 73px 0 70px 0;
  .ctaWrapper {
    width: 100%;
    padding: 23px 0;
    div {
      position: relative;
      width: 100%;
      padding: 60px 135px 120px 60px;
      background-color: #f3f3f3;
      border-radius: 45px;
    }
    .ctaImg {
      position: absolute;
      right: 135px;
      top: -20px;
    }
    .ctaTitle {
      font-size: 30px;
      font-weight: 500;
      margin-bottom: 26px;
    }
    .ctaSubtitle {
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 26px;
      line-height: 22px;
      width: 45%;
    }
    .ctaBtn {
      padding: 20px 35px;
    }
  }
}

@media (max-width: 1140px) {
  .callToAction {
    .ctaWrapper {
      .ctaImg {
        right: 30px;
      }
    }
  }
}

@media (max-width: 980px) {
  .callToAction {
    padding: 35px 0 70px 0;
    .ctaWrapper {
      padding: 0;
      div {
        padding: 60px 60px 120px 60px;
      }
      .ctaImg {
        display: none;
      }
      .ctaSubtitle {
        width: 100%;
      }
      .ctaBtn {
        padding: 20px 50px;
      }
    }
  }
}

@media (max-width: 480px) {
  .callToAction {
    .ctaWrapper {
      div {
        padding: 50px 50px 110px 50px;
      }
      .ctaBtn {
        padding: 20px 10px;
        font-size: 17px;
      }
    }
  }
}

@media (max-width: 340px) {
  .callToAction {
    .ctaWrapper {
      .ctaBtn {
        padding: 15px 10px;
        font-size: 15px;
      }
    }
  }
}
