.callToAction {
  padding: 73px 0 70px 0;
  .ctaWrapper {
    width: 100%;
    padding: 23px 0;
    div {
      position: relative;
      width: 100%;
      padding: 60px 135px 120px 60px;
      background-color: var(--third-color);
      border-radius: var(--border-radius);
    }
    .ctaImg {
      position: absolute;
      right: 135px;
      top: -20px;
    }
    .ctaTitle {
      font-size: var(--space-3);
      font-weight: 500;
      margin-bottom: 26px;
      opacity: 0;
    }
    .ctaSubtitle {
      font-size: var(--font-size);
      font-weight: 400;
      margin-bottom: 26px;
      line-height: 22px;
      width: 45%;
      opacity: 0;
    }
    .ctaBtn {
      padding: var(--space-2) 35px;
      opacity: 0;
    }
  }
  &.animated {
    .ctaTitle,
    .ctaSubtitle,
    .ctaBtn {
      animation: scale-up-center 0.6s ease;
      opacity: 1;
    }
  }
}

@media (max-width: 1140px) {
  .callToAction {
    .ctaWrapper {
      .ctaImg {
        right: var(--space-3);
      }
    }
  }
}

@media (max-width: 980px) {
  .callToAction {
    padding: 35px 0 70px 0;
    .ctaWrapper {
      padding: 0;
      div {
        padding: 60px 60px 120px 60px;
      }
      .ctaImg {
        display: none;
      }
      .ctaSubtitle {
        width: 100%;
      }
      .ctaBtn {
        padding: var(--space-2) 50px;
      }
    }
  }
}

@media (max-width: 480px) {
  .callToAction {
    .ctaWrapper {
      div {
        padding: 50px 50px 110px 50px;
      }
      .ctaBtn {
        padding: var(--space-2) 10px;
        font-size: 17px;
      }
    }
  }
}

@media (max-width: 340px) {
  .callToAction {
    .ctaWrapper {
      .ctaBtn {
        padding: 15px 10px;
        font-size: 15px;
      }
    }
  }
}
