.case {
  padding: 70px 0;
  .caseList {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--border-radius);
    padding: 35px var(--space-3) 50px var(--space-3);
    background-color: var(--secondary-color);
    gap: 128px;
  }
  .caseItem {
    padding: 35px var(--space-3) 40px var(--space-3);
    width: 33%;
    border-radius: var(--border-radius);
    background-color: var(--secondary-color);
    position: relative;
    transition: all 0.6s ease;
    opacity: 0;
    p {
      font-size: var(--font-size);
      font-weight: 400;
      color: white;
      line-height: 140%;
      margin-bottom: var(--space-2);
    }
    &:after {
      content: "";
      position: absolute;
      width: 1px;
      height: 186px;
      background-color: white;
      right: -64px;
      top: 35px;
    }
    a {
      display: flex;
      gap: 15px;
      color: var(--primary-color);
      font-size: var(--space-2);
      font-weight: 400;
      span {
        &::after {
          background-color: var(--primary-color);
        }
      }
      svg {
        transition: all 0.5s ease;
      }
    }
    &:hover,
    &:focus {
      svg {
        transform: scale(1.3);
      }
    }
    &.animated {
      animation: scale-in-ver-bottom 0.6s ease-in-out;
      opacity: 1;
    }
  }
  .case__slider {
    visibility: visible;
    overflow: hidden;
    width: 100%;
    flex-shrink: 0;
    .splide__track {
      overflow: visible;
      width: 100%;
    }
    .splide__list {
      display: flex;
      flex-wrap: nowrap;
      gap: 15px;
    }
    .splide__slide {
      padding: var(--gap);
      flex-shrink: 0;
      width: 90%;
      margin: 0 10px var(--space-3) 0;
      flex: 0 0 auto;
      border-radius: 35px;
      background-color: var(--secondary-color);
      position: relative;
      transition: all 0.6s ease;
      p {
        font-size: var(--font-size);
        font-weight: 400;
        color: white;
        line-height: 140%;
        margin-bottom: var(--space-2);
      }
      a {
        display: flex;
        gap: 15px;
        color: var(--primary-color);
        font-size: var(--space-2);
        font-weight: 400;
      }
    }
  }
}

@media (max-width: 1200px) {
  .case {
    .caseList {
      gap: 100px;
    }
    .caseItem {
      padding: 0;
    }
  }
}

@media (max-width: 1160px) {
  .case {
    .about {
      .caseTitle {
        width: max-content;
      }
      .caseSubtitle {
        width: 55%;
      }
    }
  }
}

@media (max-width: 1090px) {
  .case {
    padding: 35px 0;
    .caseItem {
      padding: 0;
    }
  }
}

@media (max-width: 900px) {
  .case {
    .about {
      .caseSubtitle {
        width: 100%;
      }
    }
  }
}

@media (max-width: 550px) {
  .case {
    .about {
      .caseTitle {
        font-size: 32px;
      }
    }
    padding: 35px 0 70px 0;
    .case__slider {
      .splide__slide {
        padding: 35px 25px;
      }
    }
  }
}
