.case {
  padding: 70px 0;
  .caseList {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 45px;
    padding: 35px 30px 50px 30px;
    background-color: #191a23;
    gap: 128px;
    .caseItem {
      padding: 35px 30px 40px 30px;
      width: 33%;
      border-radius: 45px;
      background-color: #191a23;
      position: relative;
      transition: all 0.6s ease;
      p {
        font-size: 18px;
        font-weight: 400;
        color: white;
        line-height: 140%;
        margin-bottom: 20px;
      }
      &:after {
        content: "";
        position: absolute;
        width: 1px;
        height: 186px;
        background-color: white;
        right: -64px;
        top: 35px;
      }
      a {
        display: flex;
        gap: 15px;
        color: #b9ff66;
        font-size: 20px;
        font-weight: 400;
        span {
          &::after {
            background-color: #b9ff66;
          }
        }
        svg {
          transition: all 0.5s ease;
        }
      }
      &:hover {
        svg {
          transform: scale(1.3);
        }
      }
    }
  }
  .case__slider {
    visibility: visible;
    overflow: hidden;
    width: 100%;
    flex-shrink: 0;
    .splide__track {
      overflow: visible;
      width: 100%;
    }
    .splide__list {
      display: flex;
      flex-wrap: nowrap;
      gap: 15px;
    }
    .splide__slide {
      padding: 40px;
      flex-shrink: 0;
      width: 90%;
      margin: 0 10px 30px 0;
      flex: 0 0 auto;
      border-radius: 35px;
      background-color: #191a23;
      position: relative;
      transition: all 0.6s ease;
      p {
        font-size: 18px;
        font-weight: 400;
        color: white;
        line-height: 140%;
        margin-bottom: 20px;
      }
      a {
        display: flex;
        gap: 15px;
        color: #b9ff66;
        font-size: 20px;
        font-weight: 400;
      }
    }
  }
}

@media (max-width: 1200px) {
  .case {
    .caseList {
      gap: 100px;
      .caseItem {
        padding: 0;
      }
    }
  }
}

@media (max-width: 1160px) {
  .case {
    .about {
      .caseTitle {
        width: max-content;
      }
      .caseSubtitle {
        width: 55%;
      }
    }
  }
}

@media (max-width: 1090px) {
  .case {
    padding: 35px 0;
    .caseList {
      .caseItem {
        padding: 0;
      }
    }
  }
}

@media (max-width: 900px) {
  .case {
    .about {
      .caseSubtitle {
        width: 100%;
      }
    }
  }
}

@media (max-width: 550px) {
  .case {
    .about {
      .caseTitle {
        font-size: 32px;
      }
    }
    padding: 35px 0 70px 0;
    .case__slider {
      .splide__slide {
        padding: 35px 25px;
      }
    }
  }
}
