.contact {
  padding: 70px 0;
  .formWrapper {
    width: 100%;
    background-color: var(--third-color);
    border-radius: var(--border-radius);
    padding: 60px 0 80px 100px;
    background-image: image-set(
      url(../img/contactBg.webp) 1x,
      url(../img/contactBgRet.webp) 2x
    );
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 155%;
    transition: all 0.5s ease;
    opacity: 0;
    &.animated {
      opacity: 1;
    }
  }
  #form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    .contactInfo {
      font-size: 16px;
      font-weight: 400;
      margin: 0 0 10px 0;
    }
    .input-field {
      border-radius: var(--space-1);
      padding: 18px var(--space-3);
      border: 1px solid var(--secondary-color);
      margin: 0 0 25px 0;
      transition: all 0.3s ease;
      &:focus {
        border: 2px solid var(--secondary-color);
        outline: none;
      }
    }
    .message {
      height: 190px;
      resize: none;
      transition: all 0.3s ease;
      margin: 0 0 25px 0;
      &:focus {
        outline: none;
        border: 2px solid var(--secondary-color);
      }
    }
    .submitBtn {
      width: 100%;
      padding: var(--space-2) 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--secondary-color);
      border: 2px solid var(--secondary-color);
      color: white;
      font-size: var(--space-2);
      font-weight: 400;
      cursor: pointer;
      border-radius: var(--space-1);
      transition: all 0.3s ease;
      margin-top: 15px;
      &:hover,
      &:focus {
        background-color: var(--primary-color);
        color: var(--secondary-color);
      }
      &:active {
        background-color: var(--secondary-color);
        color: var(--secondary-color);
        transform: scale(0.95);
      }
    }
  }
  .checkbox {
    display: flex;
    gap: 35px;
    margin-bottom: var(--gap);
    .topic {
      font-size: var(--font-size);
      font-weight: 400;
      display: inline-flex;
      align-items: center;
      gap: var(--space-1);
      cursor: pointer;
      transition: all 0.4s ease;
      .check {
        position: absolute;
        opacity: 0;
      }
      .checkbox-custom {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        border: 1px solid var(--secondary-color);
        position: relative;
        &::after {
          content: "";
          width: 16px;
          height: 16px;
          background-color: var(--primary-color);
          border-radius: 50%;
          opacity: 0;
          position: absolute;
          top: 5px;
          right: 5px;
        }
      }
      .check:checked + .checkbox-custom {
        &::after {
          opacity: 1;
        }
      }
      &:hover,
      &:focus {
        transform: scale(1.07);
      }
    }
  }
}

@media (max-width: 1600px) {
  .contact {
    .formWrapper {
      background-position-x: 175%;
    }
  }
}

@media (max-width: 1440px) {
  .contact {
    .formWrapper {
      background-position-x: 220%;
    }
  }
}

@media (max-width: 1290px) {
  .contact {
    .formWrapper {
      background-position-x: 260%;
    }
  }
}

@media (max-width: 1200px) {
  .contact {
    .about {
      .contactTitle {
        width: max-content;
      }
      .contactSubtitle {
        width: 50%;
      }
    }
    .formWrapper {
      padding: 60px 100px 80px 100px;
      background-image: none;
    }
    #form {
      width: 100%;
    }
  }
}

@media (max-width: 900px) {
  .contact {
    padding: var(--gap) 0 var(--space-3) 0;
    .about {
      .contactSubtitle {
        width: 100%;
      }
    }
  }
}

@media (max-width: 800px) {
  .contact {
    .formWrapper {
      padding: 60px var(--gap);
    }
  }
}

@media (max-width: 480px) {
  .contact {
    .formWrapper {
      padding: var(--gap) var(--space-2);
    }
  }
}

@media (max-width: 360px) {
  .contact {
    .checkbox {
      gap: 25px;
      .topic {
        font-size: 16px;
      }
    }
  }
}
