.contact {
  padding: 70px 0;
  .formWrapper {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 45px;
    padding: 60px 0 80px 100px;
    background-image: image-set(
      url(../img/contactBg.webp) 1x,
      url(../img/contactBgRet.webp) 2x
    );
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 155%;
    #form {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      .checkbox {
        display: flex;
        gap: 35px;
        margin-bottom: 40px;
        .topic {
          font-size: 18px;
          font-weight: 400;
          display: inline-flex;
          align-items: center;
          gap: 14px;
          cursor: pointer;
          transition: all 0.4s ease;
          .check {
            position: absolute;
            opacity: 0;
          }
          .checkbox-custom {
            width: 28px;
            height: 28px;
            border-radius: 50%;
            border: 1px solid #191a23;
            position: relative;
            &::after {
              content: "";
              width: 16px;
              height: 16px;
              background-color: #b9ff66;
              border-radius: 50%;
              opacity: 0;
              position: absolute;
              top: 5px;
              right: 5px;
            }
          }
          .check:checked + .checkbox-custom {
            &::after {
              opacity: 1;
            }
          }
          &:hover {
            transform: scale(1.07);
          }
        }
      }
      .contactInfo {
        font-size: 16px;
        font-weight: 400;
        margin: 0 0 10px 0;
      }
      .input-field {
        border-radius: 14px;
        padding: 18px 30px;
        border: 1px solid #191a23;
        margin: 0 0 25px 0;
        transition: all 0.3s ease;
        &:focus {
          border: 2px solid #191a23;
          outline: none;
        }
      }
      .message {
        height: 190px;
        resize: none;
        transition: all 0.3s ease;
        margin: 0 0 25px 0;
        &:focus {
          outline: none;
          border: 2px solid #191a23;
        }
      }
      .submitBtn {
        width: 100%;
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #191a23;
        border: 2px solid #191a23;
        color: white;
        font-size: 20px;
        font-weight: 400;
        cursor: pointer;
        border-radius: 14px;
        transition: all 0.3s ease;
        margin-top: 15px;
        &:hover {
          background-color: #b9ff66;
          color: #191a23;
        }
        &:active {
          background-color: #191a23;
          color: #191a23;
          transform: scale(0.95);
        }
      }
    }
  }
}

@media (max-width: 1600px) {
  .contact {
    .formWrapper {
      background-position-x: 175%;
    }
  }
}

@media (max-width: 1440px) {
  .contact {
    .formWrapper {
      background-position-x: 220%;
    }
  }
}

@media (max-width: 1290px) {
  .contact {
    .formWrapper {
      background-position-x: 260%;
    }
  }
}

@media (max-width: 1200px) {
  .contact {
    .about {
      .contactTitle {
        width: max-content;
      }
      .contactSubtitle {
        width: 50%;
      }
    }
    .formWrapper {
      padding: 60px 100px 80px 100px;
      background-image: none;
      #form {
        width: 100%;
      }
    }
  }
}

@media (max-width: 900px) {
  .contact {
    padding: 40px 0 30px 0;
    .about {
      .contactSubtitle {
        width: 100%;
      }
    }
  }
}

@media (max-width: 800px) {
  .contact {
    .formWrapper {
      padding: 60px 40px;
    }
  }
}

@media (max-width: 480px) {
  .contact {
    .formWrapper {
      padding: 40px 20px;
    }
  }
}

@media (max-width: 360px) {
  .contact {
    .formWrapper {
      #form {
        .checkbox {
          gap: 25px;
          .topic {
            font-size: 16px;
          }
        }
      }
    }
  }
}
