@use "../mixins" as mixins;

.footer {
  padding: 70px 0 0 0;
  opacity: 0;
  .footerWrapper {
    background-color: var(--secondary-color);
    padding: 55px 60px 50px 60px;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    .footerNavWrapper {
      @include mixins.flex;
    }
    .logo {
      color: white;
    }
    .footerNavigation {
      display: flex;
    }
    .socialList {
      display: flex;
      gap: var(--space-2);
      align-items: center;
      list-style-type: none;
    }
  }
  &.animated {
    animation: scale-up-center 0.5s ease;
    opacity: 1;
  }
  .navList {
    li {
      a {
        color: white;
        span {
          &::after {
            background-color: white;
          }
        }
      }
    }
  }
  .footerContact {
    @include mixins.flex;
    padding: 66px 0 50px 0;
    border-bottom: 1px solid white;
    margin-bottom: 50px;
    .footerContactTitle {
      width: max-content;
      font-size: var(--space-2);
      font-weight: 500;
      background-color: var(--primary-color);
      border-radius: 7px;
      padding: 7px;
      margin-bottom: 27px;
    }
    .footerInfo {
      font-size: var(--font-size);
      font-weight: 400;
      color: white;
      margin-bottom: var(--space-2);
      line-height: 140%;
    }
  }
  .footerForm {
    display: flex;
    padding: 58px 40px;
    background-color: #292a32;
    gap: var(--space-2);
    border-radius: var(--space-1);
    .footerInput {
      padding: 22px 35px;
      border-radius: var(--space-1);
      border: 1px solid white;
      color: white;
      background-color: #292a32;
      transition: all 0.3s ease;
      cursor: pointer;
      &::placeholder {
        color: white;
      }
      &:hover,
      &:focus {
        transform: scale(1.05);
      }
      &:focus {
        border: 2px solid white;
        outline: none;
      }
    }
    .footerFormBtn {
      background-color: var(--primary-color);
      color: black;
      border-radius: var(--space-1);
      padding: var(--space-2) 35px;
      font-size: var(--space-2);
      font-weight: 400;
      transition: all 0.3s ease;
      border: none;
      cursor: pointer;
      &:hover,
      &:focus {
        transform: scale(1.05);
      }
      &:active {
        transform: scale(0.95);
      }
    }
  }
  .copyrightWrapper {
    display: flex;
    align-items: center;
    gap: var(--gap);
    .copyright {
      font-size: var(--font-size);
      font-weight: 400;
      color: white;
    }
    .privacyLink {
      font-size: var(--font-size);
      font-weight: 400;
      color: white;
      text-decoration: none;
      border-bottom: 1px solid white;
    }
  }
}

@media (max-width: 1300px) {
  .footer {
    .footerForm {
      .footerInput {
        padding: var(--space-2) var(--space-3);
      }
      .footerFormBtn {
        padding: var(--space-2) var(--space-3);
        font-size: var(--font-size);
      }
    }
  }
}

@media (max-width: 1240px) {
  .footer {
    .footerWrapper {
      .footerNavWrapper {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 50px;
      }
      .footerNavigation {
        .navList {
          flex-direction: column;
        }
      }
    }
    .footerContact {
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .footerContactTitle {
        text-align: center;
        width: 100%;
      }
      .footerInfo {
        text-align: center;
        margin: 0 0 var(--gap) 0;
      }
    }
    .footerForm {
      flex-direction: column;
      padding: 25px;
      width: 50%;
    }
    .copyrightWrapper {
      flex-direction: column;
      align-items: center;
      gap: var(--space-2);
    }
  }
}

@media (max-width: 900px) {
  .footer {
    .footerForm {
      width: 80%;
    }
  }
}

@media (max-width: 700px) {
  .footer {
    .footerWrapper {
      .footerNavWrapper {
        gap: var(--gap);
      }
    }
    .footerForm {
      padding: 15px;
      width: 100%;
    }
    .navList {
      gap: 25px;
    }
  }
}

@media (max-width: 500px) {
  .footer {
    .footerWrapper {
      padding: 55px 25px 50px 25px;
    }
    .copyrightWrapper {
      .copyright {
        font-size: 16px;
        text-align: center;
      }
    }
  }
}

@media (max-width: 340px) {
  .footer {
    .footerForm {
      .footerInput {
        padding: 15px var(--space-2);
      }
      .footerFormBtn {
        padding: 15px var(--space-2);
        font-size: 16px;
      }
    }
  }
}
