header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  background-color: white;
  .headerWrapper {
    margin: 60px 0 35px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      display: flex;
      gap: 4px;
      text-decoration: none;
      color: black;
      align-items: center;
      font-size: 40px;
      font-weight: 500;
      &:hover {
        opacity: 0.7;
      }
    }
    .navigation {
      display: flex;
      gap: 40px;
      .navList {
        display: flex;
        list-style-type: none;
        align-items: center;
        gap: 40px;
        li {
          cursor: pointer;
          font-size: 20px;
          font-weight: 400;
          a {
            color: black;
            text-decoration: none;
          }
          span {
            &::after {
              background-color: black;
            }
          }
        }
      }
      .headerCtaBtn {
        top: 0;
        display: flex;
        align-items: center;
        padding: 20px 35px;
        background-color: white;
        color: black;
        &:active {
          background-color: #c3c3c3;
          span::after {
            width: 0;
          }
        }
      }
    }
  }
}
