header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  background-color: white;
  .headerWrapper {
    margin: 60px 0 35px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .logo {
      color: black;
    }
    .navigation {
      display: flex;
      gap: 40px;
      .navList {
        li {
          a {
            color: black;
            span {
              &::after {
                background-color: black;
              }
            }
          }
        }
      }
      .headerCtaBtn {
        top: 0;
        display: flex;
        align-items: center;
        padding: 20px 35px;
        background-color: white;
        color: black;
        &:active {
          background-color: #c3c3c3;
          span::after {
            width: 0;
          }
        }
      }
    }
  }
  .burger {
    display: none;
    background-color: white;
    .burgerWrapper {
      background-color: white;
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 60px;
      z-index: 12;
      .burger-logo {
        font-size: 32px;
        color: #191a23;
      }
      .burgerBtn {
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 7px;
        border: none;
        background-color: white;
        transition: all 0.5s ease;
        position: relative;
        .line {
          height: 5px;
          border-radius: 2px;
          background-color: #191a23;
          transition: all 0.4s ease;
          opacity: 1;
          &:nth-child(1) {
            width: 15px;
          }
          &:nth-child(2) {
            width: 25px;
          }
          &:nth-child(3) {
            width: 35px;
          }
        }
      }
    }
    .burgerInfo {
      display: none;
      height: 100%;
      position: fixed;
      top: 156px;
      flex-direction: column;
      align-items: center;
      gap: 40px;
      padding: 100px 60px 120px 60px;
      width: 100%;
      background-color: #191a23;
      transition: all 0.5s ease;
      z-index: 11;
    }
  }
  .is-active {
    height: 100vh;
    .burgerWrapper {
      .closeBtn {
        .line {
          &:nth-child(1) {
            opacity: 0;
            transition: none;
          }
          &:nth-child(2) {
            width: 35px;
            position: absolute;
            transform: rotate(45deg);
            top: 13px;
          }
          &:nth-child(3) {
            transform: rotate(-45deg);
            position: absolute;
            top: 13px;
          }
        }
      }
    }
    .burgerInfo {
      display: flex;
      .burger-navigation {
        display: flex;
        flex-direction: column;
        gap: 35px;
        .burger-navList {
          display: flex;
          flex-direction: column;
          list-style-type: none;
          gap: 20px;
          li {
            display: flex;
            justify-content: center;
            a {
              color: white;
              font-size: 25px;
              text-decoration: none;
            }
          }
        }
        .burgerCtaBtn {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px 20px;
          width: 220px;
          background-color: white;
          color: #191a23;
        }
      }
    }
  }
}

@media (max-width: 1225px) {
  .header {
    .headerWrapper {
      .navigation {
        gap: 25px;
        .navList {
          gap: 18px;
        }
      }
    }
  }
}

@media (max-width: 1125px) {
  .header {
    .headerWrapper {
      display: none;
    }
    .burger {
      display: block;
    }
  }
}

@media (max-width: 600px) {
  .header {
    .headerWrapper {
      .logo {
        font-size: 32px;
      }
    }
  }
}

@media (max-width: 550px) {
  .header {
    .burger {
      .burgerWrapper {
        padding: 60px 25px;
      }
    }
    .is-active {
      .burgerInfo {
        padding: 55px 25px 120px 25px;
      }
    }
  }
}
