@use "../mixins" as mixins;

header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  padding: 60px 0 35px 0;
  background-color: white;
  transition: all 0.5s ease;
  .headerWrapper {
    @include mixins.flex;
    position: relative;
    .logo {
      color: black;
    }
    .navigation {
      display: flex;
      gap: 40px;
      .navList {
        li {
          a {
            color: black;
            span {
              &::after {
                background-color: black;
              }
            }
          }
        }
      }
      .headerCtaBtn {
        top: 0;
        display: flex;
        align-items: center;
        padding: 20px 35px;
        background-color: white;
        color: black;
        &:active {
          background-color: #c3c3c3;
          span::after {
            width: 0;
          }
        }
      }
    }
  }
  .burger {
    background-color: white;
    display: none;
    .burgerWrapper {
      background-color: white;
      @include mixins.flex;
      width: 100%;
      padding: 0 60px;
      z-index: 12;
      .burger-logo {
        font-size: 32px;
        color: var(--secondary-color);
      }
      .burgerBtn {
        z-index: 10;
        @include mixins.column;
        align-items: flex-end;
        gap: 7px;
        border: none;
        background-color: white;
        transition: all 0.5s ease;
        position: relative;
        .line {
          height: 5px;
          border-radius: 2px;
          background-color: #191a23;
          transition: all 0.4s ease;
          opacity: 1;
          &:nth-child(1) {
            width: 15px;
          }
          &:nth-child(2) {
            width: 25px;
          }
          &:nth-child(3) {
            width: 35px;
          }
        }
      }
    }
    .burgerInfo {
      @include mixins.column;
      height: 100%;
      position: fixed;
      top: 156px;
      opacity: 0;
      visibility: hidden;
      align-items: center;
      gap: var(--gap);
      padding: 100px 60px 120px 60px;
      width: 100%;
      background-color: #191a23;
      transition: all 0.3s ease;
      z-index: 11;
      transform: translateY(-400px);
    }
  }
  .is-active {
    height: 100vh;
    .burgerWrapper {
      .closeBtn {
        .line {
          &:nth-child(1) {
            opacity: 0;
            transition: none;
          }
          &:nth-child(2) {
            width: 35px;
            position: absolute;
            transform: rotate(45deg);
            top: 13px;
          }
          &:nth-child(3) {
            transform: rotate(-45deg);
            position: absolute;
            top: 13px;
          }
        }
      }
    }
    .burgerInfo {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
      .burger-navigation {
        @include mixins.column;
        gap: 35px;
        .burger-navList {
          @include mixins.column;
          list-style-type: none;
          gap: var(--space-2);
          li {
            display: flex;
            justify-content: center;
            a {
              color: white;
              font-size: 25px;
              text-decoration: none;
            }
          }
        }
        .burgerCtaBtn {
          @include mixins.flex;
          justify-content: center;
          padding: 10px var(--space-2);
          width: 220px;
          background-color: white;
          color: var(--secondary-color);
        }
      }
    }
  }
  &.headerFixed {
    padding: 25px 0;
    box-shadow: 0px -15px var(--space-3) black;
    .burgerInfo {
      top: 90px;
    }
  }
}

@media (max-width: 1225px) {
  .header {
    .headerWrapper {
      .navigation {
        gap: 25px;
        .navList {
          gap: var(--font-size);
        }
      }
    }
  }
}

@media (max-width: 1125px) {
  .header {
    .headerWrapper {
      display: none;
    }
    .burger {
      display: block;
    }
  }
}

@media (max-width: 600px) {
  .header {
    .headerWrapper {
      .logo {
        font-size: 32px;
      }
    }
  }
}

@media (max-width: 550px) {
  .header {
    .burger {
      .burgerWrapper {
        padding: 0 25px;
      }
    }
    .is-active {
      .burgerInfo {
        padding: 55px 25px 120px 25px;
      }
    }
  }
}
