@use "../mixins" as mixins;

.hero {
  padding: 198px 0 var(--space-3) 0;
  .heroWrapper {
    @include mixins.flex;
    .heroImage {
      width: 600px;
      height: auto;
    }
  }
  .heroAbout {
    width: 40%;
    .heroTitle {
      width: 100%;
      font-size: 60px;
      font-weight: 500;
      line-height: 140%;
      margin: 0 0 var(--space-3) 0;
    }
    .heroSubtitle {
      font-size: var(--font-size);
      font-weight: 400;
      line-height: 28px;
      margin-bottom: var(--space-3);
    }
    a {
      padding: var(--space-2) var(--space-3);
    }
  }
}

@media (max-width: 1130px) {
  .hero {
    .heroWrapper {
      .heroImage {
        width: 450px;
        height: 400px;
      }
    }
    .heroAbout {
      .heroTitle {
        font-size: var(--gap);
      }
      .heroSubtitle {
        font-size: var(--space-2);
      }
    }
  }
}

@media (max-width: 830px) {
  .hero {
    .heroWrapper {
      .heroImage {
        width: 400px;
        height: 350px;
      }
    }
    .heroAbout {
      .heroTitle {
        font-size: 32px;
      }
      .heroSubtitle {
        font-size: var(--space-1);
      }
      a {
        font-size: var(--font-size);
      }
    }
  }
}

@media (max-width: 775px) {
  .hero {
    padding: 170px 0 var(--space-3) 0;
    .heroWrapper {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .heroImage {
        margin: var(--space-3) 0 0 0;
      }
    }
    .heroAbout {
      width: 80%;
    }
  }
}

@media (max-width: 500px) {
  .hero {
    .heroWrapper {
      .heroImage {
        width: 100%;
        height: auto;
      }
    }
    .heroAbout {
      width: 100%;
      a {
        font-size: var(--font-size);
      }
    }
  }
}
