.hero {
  padding: 198px 0 35px 0;
  .heroWrapper {
    display: flex;
    justify-content: space-between;
    .heroAbout {
      width: 40%;
      .heroTitle {
        width: 100%;
        font-size: 60px;
        font-weight: 500;
        line-height: 140%;
        margin: 0 0 35px 0;
      }
      .heroSubtitle {
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        margin-bottom: 35px;
      }
      a {
        padding: 20px 35px;
      }
    }
    .heroImage {
      width: 600px;
      height: auto;
    }
  }
}

@media (max-width: 1130px) {
  .hero {
    .heroWrapper {
      .heroAbout {
        .heroTitle {
          font-size: 40px;
        }
        .heroSubtitle {
          font-size: 16px;
        }
      }
      .heroImage {
        width: 450px;
        height: 400px;
      }
    }
  }
}

@media (max-width: 830px) {
  .hero {
    .heroWrapper {
      .heroAbout {
        .heroTitle {
          font-size: 32px;
        }
        .heroSubtitle {
          font-size: 14px;
        }
        a {
          font-size: 18px;
        }
      }
      .heroImage {
        width: 400px;
        height: 350px;
      }
    }
  }
}

@media (max-width: 775px) {
  .hero {
    padding: 170px 0 35px 0;
    .heroWrapper {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .heroAbout {
        width: 80%;
      }
      .heroImage {
        margin: 70px 0 0 0;
      }
    }
  }
}

@media (max-width: 500px) {
  .hero {
    .heroWrapper {
      .heroAbout {
        width: 100%;
        a {
          font-size: 14px;
        }
      }
      .heroImage {
        width: 100%;
        height: auto;
      }
    }
  }
}
