.services {
  padding: 70px 0 50px 0;
  .servicesList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: var(--gap);
  }
  .servicesItem {
    position: relative;
    width: 48%;
    padding: 0 0 4px;
    border-radius: var(--border-radius);
    transition: all 0.4s ease;
    background-color: var(--secondary-color);
    opacity: 0;
    .servicesItemWrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid #191a23;
      border-radius: var(--border-radius);
      padding: 50px;
    }
    h3 {
      font-size: var(--space-3);
      font-weight: 500;
      margin-bottom: 93px;
      span {
        border-radius: 9px;
        padding: 7px;
        display: inline-block;
        margin: 0;
      }
    }
    a {
      font-size: var(--space-2);
      font-weight: 400;
      display: flex;
      align-items: center;
      gap: 15px;
      svg {
        transition: all 0.4s ease;
      }
      &:hover {
        svg {
          transform: scale(1.2);
        }
      }
      &:active {
        svg {
          transform: scale(0.8);
        }
      }
    }
    .servicesImg {
      width: 210px;
      height: auto;
    }
    &:nth-child(1) {
      .servicesItemWrapper {
        background-color: var(--third-color);
        h3 {
          span {
            background-color: var(--primary-color);
          }
        }
        a {
          color: var(--secondary-color);
          .servicesLink {
            &::after {
              background-color: var(--secondary-color);
            }
          }
        }
      }
    }
    &:nth-child(2) {
      .servicesItemWrapper {
        background-color: var(--primary-color);
        h3 {
          span {
            background-color: white;
          }
        }
        a {
          color: var(--secondary-color);
          .servicesLink {
            &::after {
              background-color: var(--secondary-color);
            }
          }
        }
      }
    }
    &:nth-child(3) {
      .servicesItemWrapper {
        background-color: var(--secondary-color);
        h3 {
          span {
            background-color: white;
          }
        }
        a {
          color: #fff;
          .servicesLink {
            &::after {
              background-color: #fff;
            }
          }
        }
      }
    }
    &:nth-child(4) {
      .servicesItemWrapper {
        background-color: var(--third-color);
        h3 {
          span {
            background-color: var(--primary-color);
          }
        }
        a {
          color: var(--secondary-color);
          .servicesLink {
            &::after {
              background-color: var(--secondary-color);
            }
          }
        }
      }
    }
    &:nth-child(5) {
      .servicesItemWrapper {
        background-color: var(--primary-color);
        h3 {
          span {
            background-color: white;
          }
        }
        a {
          color: var(--secondary-color);
          .servicesLink {
            &::after {
              background-color: var(--secondary-color);
            }
          }
        }
      }
    }
    &:nth-child(6) {
      .servicesItemWrapper {
        background-color: var(--secondary-color);
        h3 {
          span {
            background-color: var(--primary-color);
          }
        }
        a {
          color: #fff;
          .servicesLink {
            &::after {
              background-color: #fff;
            }
          }
        }
      }
    }
    &:hover {
      transform: scale(0.95);
    }
    &.animated {
      animation: swing-in-top-fwd 0.9s ease;
      opacity: 1;
    }
  }
}

@media (max-width: 1290px) {
  .services {
    .servicesItem {
      .servicesImg {
        width: 150px;
      }
    }
  }
}

@media (max-width: 1155px) {
  .services {
    padding: 35px 0 50px 0;
    .servicesItem {
      width: 60%;
    }
  }
}

@media (max-width: 950px) {
  .services {
    .servicesItem {
      width: 75%;
    }
  }
}

@media (max-width: 735px) {
  .services {
    .servicesItem {
      width: 80%;
      h3 {
        font-size: 25px;
      }
    }
  }
}

@media (max-width: 650px) {
  .services {
    .servicesItem {
      .servicesImg {
        position: absolute;
        bottom: var(--space-3);
        right: var(--space-3);
      }
      a {
        span {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .services {
    .servicesItem {
      width: 100%;
    }
  }
}
