.testimonials {
  padding: 70px 0;
  #testSlider {
    position: relative;
    padding: 84px 0 68px 0;
    border-radius: var(--border-radius);
    background-color: var(--secondary-color);
    opacity: 0;
    transition: all 0.5s ease;
    .splide__list {
      display: flex;
      list-style-type: none;
      .splide__slide {
        padding: 0 25px;
        width: 50%;
        .slider-wrapper {
          position: relative;
          border-radius: var(--border-radius);
          border: 1px solid var(--primary-color);
          padding: 48px 52px;
          margin: 0 0 55px;
          &::before {
            content: "";
            position: absolute;
            width: 64px;
            height: 38px;
            background-color: var(--primary-color);
            bottom: -39px;
            left: 51px;
            clip-path: polygon(100% 0, 0 0, 49% 83%);
          }
          &::after {
            content: "";
            position: absolute;
            width: 62px;
            height: 38px;
            background-color: var(--secondary-color);
            bottom: -37px;
            left: 52px;
            clip-path: polygon(100% 0, 0 0, 49% 83%);
          }
          p {
            color: white;
            font-size: var(--font-size);
            font-weight: 400;
            line-height: 140%;
          }
        }
        h3 {
          font-size: var(--space-2);
          font-weight: 500;
          padding: 0 0 0 55px;
          margin: 0 0 4px 0;
          color: var(--primary-color);
        }
        .profession {
          font-size: var(--font-size);
          font-weight: 400;
          color: white;
          padding: 0 0 0 55px;
        }
      }
    }
    .arrowWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      .splide__arrows {
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 124px 0 0 0;
        gap: 189px;

        .splide__arrow {
          background: none;
          border: none;
          cursor: pointer;
        }
      }
    }
    .splide__pagination {
      position: absolute;
      bottom: 68px;
      left: 44%;
      display: flex;
      justify-content: center;
      gap: 19px;
      .splide__pagination__page {
        width: var(--space-1);
        height: var(--space-1);
        border: none;
        border-radius: 50%;
        background: white;
        box-shadow: none;
        opacity: 1;
        transform: none;
        cursor: pointer;
        padding: 0;
      }
      .splide__pagination__page.is-active {
        background: var(--primary-color);
        transform: none;
      }
    }
    &.animated {
      opacity: 1;
    }
  }
}

@media (max-width: 1024px) {
  .testimonials {
    padding: 35px 0;
    #testSlider {
      .splide__pagination {
        left: 42%;
      }
    }
  }
}

@media (max-width: 768px) {
  .testimonials {
    #testSlider {
      padding: 60px 0 110px 0;
      .arrowWrapper {
        display: none;
      }
      .splide__pagination {
        bottom: 45px;
        right: 20%;
        left: 20%;
        .splide__pagination__page {
          width: 12px;
          height: 12px;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .testimonials {
    #testSlider {
      .splide__list {
        .splide__slide {
          .slider-wrapper {
            padding: 35px;
            p {
              font-size: 16px;
            }
          }
          h3 {
            font-size: var(--font-size);
          }
          .profession {
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .testimonials {
    #testSlider {
      .splide__list {
        .splide__slide {
          .slider-wrapper {
            padding: var(--space-2) 25px;
          }
        }
      }
    }
  }
}
